#buyside-widget-container {
  flex: 100%;

  @include media-mobile-x {
    width: 100%;
  }

  & > div {
    display: flex;
    align-items: center;
    padding-right: 7px;
    background: $color6;
    border-radius: 6px;

    @include media-mobile-x {
      padding: 20px;
      flex-direction: column;
      background-color: transparent;
    }
  }

  .buyside_widget_input_div {
    @include media-mobile-x {
      padding-right: 0;
    }
  }
}

.report__search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.report__arrow {
  display: inline-block;
  padding-left: 10px;
}

.buyside_widget_autocomplete-items {
  position: absolute;
  top: 110%;
  max-height: 200px;
  border: 3px solid $color4;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .buyside_widget_autocomplete-items {
    max-height: 110px;
  }
}

.buyside_widget_autocomplete-items div {
  font-size: 16px;
  line-height: 1.5;
}

.buyside_widget_autocomplete-items div strong {
  color: $color3;
  font-weight: 600;
}

.report__search{
  position: relative;
  padding: 65px 30px;
  height: 60px;
  min-width: 500px;
  border-radius: 5px;

  @include media-mobile-x {
    min-width: 100%;
    height: auto;
    padding: 20px;
  }

  .buyside_widget_input_div {
    flex: fit-content;

    @include media-mobile-x {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .input.report__search-input {
    height: 4rem;
    width: 100%;
    min-width: 100%;
    max-width: 70%;
    background-color: $color6;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .button__wrapper {
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    padding: 8px 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: $color3;
    -webkit-transition: background-color 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: background-color 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    color: $color6;

    @include media-mobile-x {
      width: 100%;
    }
  }

  .button__wrapper:hover {
    background-color: $color18;
  }

  .buyside_widget_autocomplete-items {
    padding: 0;
    position: absolute;
    top: 75%;
    left: 27px;
    right: 27px;
    max-height: 200px;
    border: 3px solid #eefafc;
    border-radius: 8px;

    @include media-mobile-x {
      left: 36px;
      right: 36px;
      top: 83%;
    }
  }

  .buyside_widget_autocomplete-items div {
    padding: 5px 20px;
    font-size: 16px;
    line-height: 1.5;
    color: $color21;
    border-radius: 4px;
  }

  .report__load {
    padding: 20px;
    background: $color6;
    width: 94%;
    border-radius: 6px;
    text-align: center;
  }
}

.section__report {
  .report__search {
    padding: 0;
  }

  .report__search .buyside_widget_autocomplete-items {
    width: 100%;
    left: -3px;
    top: 100%;
  }
}

.report__search-home {
  @include media-mobile-x {
    flex-direction: column;
  }

  .button__wrapper {
    background-color: $color13;
  }

  .buyside__label {
    padding-right: 30px;

    @include media-mobile-x {
      padding: 0;
    }
  }

  .buyside_widget_autocomplete-items {
    left: 110px;

    @include media-mobile-x {
      left: 40px;
    }
  }
}
