.section.section--no-border-top.section--overflow-hidden {
  overflow: hidden;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;

  width: 1000px;
  margin: 0 auto;
}

.reviews__slider.swiper {
  height: 380px;

  @include media-tablet-m {
    max-width: 100%;
  }
}

.reviews__slide {
  width: 488px;
  padding: 2.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: $color2;
  border-radius: 5px;
  background-color: $color6;
  box-shadow: none;
}

.reviews__slide.swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.reviews__slider .reviews__slide {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.reviews__user-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 1.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: $color3;
}

.reviews__-user-symbols {
  color: $color6;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.reviews__stars.reviews__stars--5 {
  width: 110px;
  height: 20px;
  background-image: url("../img/stars.png");
  background-position: 0px -2px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.reviews__stars.reviews__stars--4-5 {
  width: 110px;
  height: 20px;
  background-image: url("../img/stars.png");
  background-position: 0px -27px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.reviews__stars.reviews__stars--4 {
  width: 110px;
  height: 20px;
  background-image: url("../img/stars.png");
  background-position: 0px -53px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.reviews__stars.reviews__stars--3-5 {
  width: 110px;
  height: 20px;
  background-image: url("../img/stars.png");
  background-position: 0px -79px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.reviews__stars.reviews__stars--3 {
  width: 110px;
  height: 20px;
  background-image: url("../img/stars.png");
  background-position: 0px -109px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.reviews__name {
  margin-bottom: 0.5rem;
  color: $color20;
  font-size: 1rem;
  font-weight: 500;
}

.reviews__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.563rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews__user-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews__city {
  margin-bottom: 0.625rem;
  color: $color20;
  font-size: 1rem;
  font-weight: 500;
}

.reviews__content {
  height: 200px;
}

.reviews__text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: $color20;
  font-size: 1rem;
  line-height: 200%;
  font-weight: 400;
}

.reviews__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-top: 2.188rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews__footer small {
  font-size: 80%;
  color: $color21;
}

.reviews__slider-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .slider__arrow--prev {
    left: -100px
  }

  .slider__arrow--next {
    right: -100px;
  }
}

